.c-custom-tab__internal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 40px;
    border-radius: 4px;
}
span.material-symbols-outlined{
    font-size: 24px;
    color: #000000;
    font-size: 20px !important
}